<div class="container-fluid">
    <div class="row">
        <form>
            <div class="form-group" id="new-template-name-form">
                <label class="control-label" id="new-template-name-label" for="new-template-name-textbox">Name</label>
                <input type="text" class="form-control" placeholder="Template Name" id="new-template-name-textbox" aria-describedby="new-template-name-help">
                <span id="new-template-name-help" class="help-block"></span>
            </div>
            <div class="form-group">
                <label style="">Capabilities:</label>
                <div class="col-md-12">
                    <div class="checkbox" id="new-rule-capability-checkbox">
                        <label><input type="checkbox" value="on" tabindex="0" checked=""><span>Rule</span></label>
                    </div>
                    <div class="checkbox" id="new-process-capability-checkbox">
                        <label><input type="checkbox" value="on" tabindex="0"><span>Process</span></label>
                    </div>
                    <div class="checkbox" id="new-planning-capability-checkbox">
                        <label><input type="checkbox" value="on" tabindex="0"><span>Planning</span></label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>