<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.0" name="@NAME@">
  <resources>
@RESOURCES@
  </resources>
  <dependencies>
@DEPENDENCIES@
<module name="javax.api" export="false"/>
  </dependencies>
</module>
